/* ---- 1199px ---- */

@media (max-width: 1199px) {
}

@media (max-width: 624px) {
}

@media (max-width: 991px) {
  .register-frm-ds .search-box {
    margin: auto;
    border-radius: 6px;
    margin-top: 16px;
    background: black;
  }
  .search-section .form-group {
    margin-bottom: 14px;
  }
  .searchnow {
    width: 148px;
    margin: auto;
    margin-top: 12px;
    border-radius: 40px;
    font-family: "Outfit-Regular";
    color: rgb(0, 0, 0);
  }
  .register-frm-ds {
    position: relative;
  }
  .p-70 {
    padding-left: 15px;
  }
  .footer-title {
    margin-bottom: 25px;
    margin-top: 30px;
  }
  .login-btn-bg a.login-btn-main {
    margin-top: 10px;
    background: #87032f;
    padding: 12px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
    font-family: "Outfit-Regular";
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .login-btn-bg a.login-btn-main img {
    filter: brightness(77.5);
  }
  .center_header-sec {
    display: block;
  }
  .right_header-matri .heade-bnr {
    width: 80%;
    margin-top: 14px;
  }
  .right_header-matri {
    text-align: center;
  }
  .planing_bg_wets .tools_bg {
    margin-top: 26px;
  }
  .footer-small-bg {
    display: block;
  }
  .social-icon-footer {
    float: unset;
    margin-top: 8px;
  }
  .copy-rights h6 {
    text-align: center;
  }
  .flex_appLinkd {
    justify-content: center;
    margin-top: 12px;
  }
  .main_header_scvBG .hdr_deasign4 {
    left: 0;
    width: 100%;
  }
  .wedding_planer-div {
    justify-content: center;
    margin-top: 0px;
    gap: 10px;
  }
  .matri-browse-tabs .tabs .nav.nav-pills {
    display: block;
  }
  .flex_story_cpl {
    margin-top: 140px;
  }
  .search_new_ind {
    margin-top: 26px;
  }
  .single_browse-stdf {
    display: block;
  }
  .right_cont-brows {
    margin-top: 12px;
  }
  .center_personaliz-bg img {
    position: unset;
  }
  .personalize-box-ed {
    margin-top: 22px;
  }
  .pr-pr-0 {
    padding-right: 15px;
  }
  .pr-pl-0 {
    padding-left: 15px;
  }
  .left_appBg_content .app_mockupsd {
    margin-top: 0px;
    width: 80%;
  }
  .left_appBg_content {
    margin-top: 0px;
  }
  .single-lr-sections .workArrow12,
  .single-lr-sections .workArrow1223 {
    display: none;
  }
  .workInner-sections .single-lr-sections {
    display: block;
    text-align: center;
  }
  .how_right-text {
    width: 100%;
  }
  .work_imaged-main .bg-howProf {
    height: 196px;
    width: 196px;
  }
  .how_right-text h3 {
    font-size: 25px;
    margin-top: 13px;
  }
  .workInner-sections .single-lr-sections.end {
    justify-content: center;
  }
  .workInner-sections .single-lr-sections.end .how_right-text {
    text-align: center;
  }
  .single-lr-sections .work_imaged-main {
    position: relative;
    width: fit-content;
    margin: auto;
  }
  .last_added_seactions {
    padding-bottom: 0px;
  }
  .center_header-sec {
    flex-direction: column; 
  }

  .left_matri_headers {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; 
  }

  .heart-animation-area {
    min-height: 250px; 
    width: 100%;
    margin-top: 30px; 
  }

  
  .heart.heart1 {
    width: 80px;
    left: 10%;
    top: 10%;
  }
  .heart.heart2 {
    width: 60px;
    left: 70%;
    top: 20%;
  }
  .heart.heart3 {
    width: 90px;
    left: 40%;
    top: 50%;
  }
  .heart.heart4 {
    width: 50px;
    left: 80%;
    top: 70%;
  }
}
@media (max-width: 767px) {
  .main_header_scvBG {
    border-radius: 0 !important;
  }
  .footer-bg {
    border-radius: 0 !important;
  }
}

@media (max-width: 770px) {
}

@media (max-width: 570px) {
  .left_matri_headers {
    text-align: center;
  }
  .left_matri_headers h2 {
    font-size: 34px;
    line-height: 47px;
  }
  .left_matri_headers .btn_register-ht {
    margin: auto;
    margin-top: 12px;
  }
  .left_matri_headers h4 span {
    font-size: 21px;
    text-decoration: none;
  }
  .left_matri_headers h4 {
    margin-top: 16px;
  }
  .right_header-matri .heade-bnr {
    width: 95%;
    margin-top: 20px;
  }
  .matri-browse-tabs .tabs .nav.nav-pills li {
    width: 49.21%;
  }
  .last_added_roundbg {
    padding: 46px 14px 30px;
  }
  .main_header_scvBG {
    border-radius: 0px 0px 35px 35px;
  }
  .left_appBg_content h4 {
    font-size: 32px;
  }
  .left_appBg_content {
    padding: 40px 20px;
  }
  .flex_story_cpl {
    gap: 30px;
  }
  .flex_story_cpl .story_man,
  .flex_story_cpl .story_woman {
    border-radius: 0px 74px;
    transform: rotate(45deg);
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  .flex_story_cpl .match_making {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
  }
  .flex_story_cpl .progress_bar {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
  }
  .flex_story_cpl {
    margin-top: 90px;
  }
  .last_slider-profiles.owl-theme .owl-controls .owl-buttons .owl-next::before {
    right: 0px;
  }
  .last_slider-profiles.owl-theme .owl-controls .owl-buttons .owl-prev::before {
    left: 0px;
  }
  .sticky-btn-download {
    border-radius: 10px 10px 0px 0px;
    background: #000000;
    padding: 12px 60px;
    right: -95px;
  }
  .search-label {
    height: unset;
  }
}

/* ---- 324px ---- */

@media (max-width: 400px) {
  .search_new_ind {
    width: 100%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
}

@media (max-width: 1280px) {
}

@media (min-width: 1367px) {
}
